html {
  height: 100%;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
}

#input-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}

#clear {
  display: block;
  height: 5rem;
  width: 10rem;
  border-radius: 1rem;
  border-color: hsla(219, 79%, 10%, 0.8) ;
  background-color: rgba(100, 149, 237, 0.8);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: white;
  text-align: center;
}

#schemes-container {
  position: absolute;
  top: 32.5rem;
  left: 105rem;
  height: 20rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

button {
  display: block;
  height: 5rem;
  width: 13rem;
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  color: white;
  text-align: center;
}

#rainbow {
  border-color: hsla(219, 79%, 10%, 0.8) ;
  background-color: hsla(219, 79%, 66%, 0.8);
  text-shadow: 0.1rem 0.1rem black;
}

#fake-button {  
  border-color: hsla(219, 79%, 10%, 0.8) ;
  background-color: hsla(219, 79%, 66%, 0.8);
  text-shadow: 0.1rem 0.1rem black;
}

#monochrome {
  position: absolute;
  height: 5rem;
  width: 13rem;
  opacity: 0;
}

/*#color-mixer {
  position: absolute;
  bottom: 8.6rem;
  left: 15rem;  
}*/

#blackandwhite {
  border-color: hsla(219, 79%, 10%, 0.8) ;
  background-color: hsla(219, 79%, 66%, 0.8);
  text-shadow: 0.1rem 0.1rem black;
}

#container {
  margin: 5rem auto;
  height: 50rem;
  width: 50rem;
  display: grid;    
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.square {
  border: 0.1rem solid black;
}