html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  display: grid;    
  grid-template-columns: repeat(16, 4rem);
  grid-template-rows: repeat(16, 4rem);
  border-left: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
}

.square {
  height: 4rem;
  width: 4rem;
  border-top: 2px solid black;
  border-right: 2px solid black;
}