html {
  height: 100%;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
}

#clear {
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 5rem auto 0 auto;
  height: 5rem;
  width: 10rem;
  border-radius: 1rem;
  border-color: hsla(219, 79%, 10%, 0.8) ;
  background-color: rgba(100, 149, 237, 0.8);
  color: white;
}

#container {
  margin: 5rem auto;
  height: 50rem;
  width: 50rem;
  display: grid;    
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.square {
  border: 0.1rem solid black;
}